server:
  address: 127.0.0.1
  port: 8080

spring:
  profiles:
    include: "videos"

  main.web-application-type: none # don't run web context now since we use polling for bot

  data:
    mongodb:
      database: video_reply_telegram_bot2

#logging:
#  level:
#    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE

elk:
  host: elk.cmlteam.com
  port: 10443
  application: video_reply_telegram_bot2

telegram-bot:
  admin-user: 0 # EXTERNAL
  token: # EXTERNAL
  backup-folder: # EXTERNAL
  max-file-size: 10_000_000 # 10 MB
  